<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Squirrels V Dwarves</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <main>
        <!-- <h1>Squirrels vs Dwarves Test</h1> -->
        <!-- <div id="actions">

        </div> -->


        <div ng-app="menuApp" ng-controller="menuCtrl">

            <h1>Squirrels V Dwarves</h1>
            <h5>The Primordial Feud: An Experience</h5>
            
            <div id="game-screen" class="hide">
                <button ng-click="signOut()">Logout</button>
                <p id="lag">0</p>
                <p id="dataCount">0</p>
                <p id="gemInfo"></p>
                <p id="player-health"></p>
                <button ng-click="goToMainMenu()">Main Menu</button>
                <canvas id="game-canvas">
    
                </canvas>
            </div>
            <div id="victory-screen" class="hide">
                <h1>The <span id="winner"></span> claim victory! <br/> Yet the feud is not over.</h1>
                <button ng-click="goToMainMenu()">Main Menu</button>
            </div>
            <div id="sign-in-screen" class="hide">
                <button ng-click="signIn(false)">Sign In / Register</button>
            </div>
            <div id="main-menu-screen" class="hide">
                <button ng-click="signOut()">Logout</button>
                <p id="signInText"></p>
                <div id="player-lobby">
                    <button ng-hide="isLobbySelected()" ng-click="addGame()">New Game</button>
                    <div ng-show="isLobbySelected()">
                        <button ng-click="goToMainMenu()">Back</button>
                        <h3>{{lobbyName}}</h3>
                        <div class="lobbies">                
                            <div>
                                <h3>Dwarves</h3>
                                <button ng-show="isLobbySelected()" ng-click="addDwarf()">Add New Dwarf</button>
                                <ul ng-repeat="dwarf in dwarfPlayers">
                                    <li>
                                        <div ng-show="dwarf.alive && dwarf.owned">
                                            <button ng-click="selectPlayer(dwarf.id)">Select Player {{dwarf.uid}}</button>
                                            <button  ng-click="removePlayer(dwarf.id)">Delete Player {{dwarf.uid}}</button>
                                        </div>
                                        <div ng-show="dwarf.alive && !dwarf.owned">
                                            <p>{{dwarf.uid}}</p>
                                        </div>
                                        <div ng-show="!dwarf.alive">
                                            <p>{{dwarf.uid}} is dead.</p>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div>
                                <h3>Squirrels</h3>
                                <button ng-show="isLobbySelected()" ng-click="addSquirrel()">Add New Squirrel</button>
                                <ul ng-repeat="squirrel in squirrelPlayers">
                                    <li>
                                        <div ng-show="squirrel.alive && squirrel.owned">
                                            <button ng-click="selectPlayer(squirrel.id)">Select Player {{squirrel.uid}}</button>
                                            <button  ng-click="removePlayer(squirrel.id)">Delete Player {{squirrel.uid}}</button>
                                        </div>
                                        <div ng-show="squirrel.alive && !squirrel.owned">
                                            <p>{{squirrel.uid}}</p>
                                        </div>
                                        <div ng-show="!squirrel.alive">
                                            <p>{{squirrel.uid}} is dead.</p>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                    </div>
                    </div>
                    <div ng-hide="isLobbySelected()">
                        <h3>Lobbies</h3>
                        <ul ng-repeat="lobby in lobbyList" >
                            <li ng-show="!isFinished(lobby.gameEnd)">
                                <hr ng-show="isThisLobbySelected(lobby.key)">
                                <p>{{lobby.name}}</p>
                                <button ng-click="selectGame(lobby.key, lobby.name)">Select</button>
                                <button ng-click="deleteGame(lobby.key)">Delete</button>
                                <hr ng-show="isThisLobbySelected(lobby.key)">
                            </li>
                        </ul>
                    </div>
                    <div ng-show="!isLobbySelected()">
                        <h3>Complete Games</h3>
                        <div class="completeGames">
                            <ul ng-repeat="lobby in lobbyList" >
                                <li ng-show="isFinished(lobby.gameEnd)">
                                    <p class="completeGameButton" ng-click="isLobbyOpened = !isLobbyOpened">{{lobby.name}} {{lobby.date}}</p>
                                    <div ng-show="isLobbyOpened">
                                        <p>A {{lobby.winner}} Victory</p>
                                        <p>Game Length: {{lobby.gameLength}}</p>
                                        <p>Players:</p>
                                        <ol ng-repeat="player in lobby.players" >
                                            <li>
                                                <p>Name: {{player.uid}}</p>
                                                <p ng-show="player.deathTime !== 0">Dead</p>
                                                <p ng-show="player.deathTime === 0">Alive</p>
                                                <p>Team: {{player.team ? "Squirrel" : "Dwarf"}}</p>
                                                <p>Damage Delt: {{player.damageDelt.toFixed(2)}}</p>
                                                <p>Blocks Mined: {{player.mined.toFixed(2)}}</p>
                                                <p>Life Time: {{player.lifeTime}}</p>
                                            </li>
                                        </ol>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                
            </div>

            
            <!-- <div id="player-list">

            </div> -->
        </div>
        
        <div  class="hide" id="loading-screen">
            <h3>Loading</h3>
        </div>
    </main>
    <script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>