<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test File</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <main>
        <!-- <h1>Squirrels vs Dwarves Test</h1> -->
        <!-- <div id="actions">

        </div> -->
        <div id="game-screen" class="hide">
            <p id="lag">0</p>
            <p id="player-health"></p>
            <canvas id="game-canvas">

            </canvas>
        </div>
        <div id="victory-screen" class="hide">
            <h1>Team <span id="winner"></span> wins!</h1>
            <button id="back-to-main-menu">Main Menu</button>
        </div>
        <div id="sign-in-screen" class="hide">
                <button id="signIn">Sign in With Google</button>
        </div>
        <div id="main-menu-screen" class="hide">
            <button id="add-player">Add New Dwarf</button>
            <button id="add-player-2">Add New Squirrel</button>
            <!-- <button id="main-menu-play">Continue</button> -->
            <button id="main-menu-new">New Game</button>

            <div id="player-lobby">
                <div ng-app="myApp" ng-controller="myCtrl">
                    <h3>Your Players</h3>
                    <ul ng-repeat="x in ownedPlayers" >
                        <li>
                            <button class="select" playerId={{x.id}}>Select Player {{x.id}}</button>
                            <button  class="remove" playerId={{x.id}}>Delete Player {{x.id}}</button>
                        </li>
                    </ul>
                    <h3>Other Players</h3>
                    <ul ng-repeat="y in otherPlayers" >
                        <li>
                            <p>{{y.id}}</p>
                        </li>
                    </ul>
                </div>
            </div>

            
            <!-- <div id="player-list">

            </div> -->
        </div>
        
        <div  class="hide" id="loading-screen">
            <h3>Loading</h3>
        </div>
    </main>
    <script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>